{% extends "base.html" %} 
{% block content %}

{% for s in detail %}

<td style="font-weight: bold;"><b>   Registration no.</b></td>
      </tr>
      <tr style="font-weight: bold;"> 
        <td> <b>  Name</b></td>
        <td>  <b> Address</b> </td>
        <td>  <b> contact</b> </td>
        <td>   <b>DOB</b> </td>
        <td>   <b>School</b> </td>
        <td>  <b> program </b></td>
        <td>  <b> parent name </b></td>
        <td>   <b>parent contact </b></td>
        <td>   <b>parent address</b> </td><br>
      </tr><br>
      <tr>
        <td>  {% for s in detail %} </td>
        <td>   {{ s.reg_no }} </td>
      </tr>
      <tr> 
        <td>   {{ s.s_name}} </td>
        <td>   {{ s.s_address}} </td>
        <td>   {{ s.s_contact}} </td>
        <td>   {{ s.s_dob}} </td>
        <td>   {{ s.s_school}} </td>
        <td>   {{ s.s_proram}} </td>
        <td>   {{ s.parent_name.p_name}} </td>
        <td>   {{ s.parent_name.p_contact}} </td>
        <td>   {{ s.parent_name.p_address}} </td><br>
        {% endfor %} 
      </tr>  

{% endfor %}

{% endblock %}